@media all and (min-width:768px){
    main{
        padding: 30px 40px;
    }

    header{
        .row{
            justify-content: flex-start;
            gap: 60px;
        }

        .container{
            align-items: flex-end;
        }

        nav{
            display: flex;
            justify-content: space-between;

            &>ul{
                display: flex;
                justify-content: stretch;
            }
        }
    }
    .mobile-menu-wrapper,
    .close-wrapper{
        display: none;
    }

    .mobile-menu-wrap{
        position: relative;
        right: 0;
        padding: 0;
        transition: none;
        flex: 0 0 85%;

        .menu-wrapper{
            &>ul{
                &>li{
                    &>a{
                        padding-bottom: 0;
                    }
                }
            }
        }

        ul{
            li{
                position: static;

                .sub-menu{
                    background: #fff;
                    max-height: initial;
                    position: absolute;
                    padding: 25px;
                    box-shadow: 0px 0px 15px 1px #00000033;
                    border-radius: 10px;
                    opacity: 0;
                    transition: none;
                    visibility: hidden;

                    li:last-child{
                        a{
                            padding-bottom: 0;
                        }
                    }
                }

                &.has-icons{

                    .sub-menu{
                        left: -60px;
                    }
                    
                }

                &.has-child{
                    >a:hover,
                    >a:focus-within{
                        ~.sub-menu{
                            opacity: 1;
                            visibility: visible;
                            transition: 0.3s all ease-in;
                        }
                    }

                    .sub-menu{

                        &:hover{
                            opacity: 1;
                            visibility: visible;
                            transition: 0.3s all ease-in;
                        }
                        
                    }


                    >a{
                        padding-right: 20px;

                        &::before{
                            right:0;
                        }
                    }
                }

               
            }

            
        }
        .menu-right{
            align-items: center;
            gap: 42px;
    
            .register{
    
                a{
                    padding: 10px 22px;
                }
            }
        }
    }

    .menu-wrapper{
        align-items: center;
        gap: 42px;
    }

    .menu-left{
        gap:60px;
    }

    
}