$white-primary: hsl(0, 0%, 98%);
$gray-primary: hsl(0, 0%, 41%);
$black-primary: hsl(0, 0%, 8%);

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    color: $gray-primary;
    font-weight: 500;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.5;
}

h1{
    color: $black-primary;
    font-size: 2rem;
}

.row {
    display:flex;
    justify-content:space-between;
    padding:15px;

    &.full-width{
        padding: 0;
    }

    &.main-content{
        text-align: center;
        flex-direction: column;
        padding-top: 48px;

        h1, p, a{
            margin-bottom: 20px;
            display: block;
        }

        a.btn{
            display: inline-block;
        }

    }

    &.badges{
        padding-bottom: 48px;
        justify-content: center;
    }
}
.mobile-menu{
    cursor: pointer;
}

.mobile-menu-wrap{
    position:fixed;
    width: 60%;
    height: 100%;
    background: #fff;
    top: 0;
    right: -200%;
    padding: 22px 24px;
    flex-direction: column;
    justify-content: stretch;
    transition: 0.5s all ease-in-out;
    z-index: 99;

   

    &.active{
        right: 0;
    }

    .close-wrapper{
        align-self: flex-end;
    }
    
    img{
        max-width: 25px;
    }

    ul{
        list-style: none;

        li {
            position: relative;

            .sub-menu{
                padding-left: 20px;
                transition: all .5s ease-in-out;
                overflow: hidden;
                max-height: 0;

                &.active{
                    max-height: 1000px;
                }
            }

            &.has-child{
                >a::before{
                    content: '';
                    position: absolute;
                    background: url(../images/icon-arrow-down.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 20px;
                    height: 20px;
                    right: -25px;
                }
            }

            &.sub-menu-item{

                a{
                    display: flex;
                    gap: 10px;
                    line-height: 1;
                    align-items: center;
                }
               
            }


            a{
                color: $gray-primary;
                position: relative;
                text-decoration: none;
                padding-bottom: 20px;
                display: inline-block;

                &:hover{
                    color: $black-primary;
                }
            }
        }
    }
}

.menu-right{
    text-align: center;

    .register a{
        border-radius: 14px;
        border:1px solid $gray-primary;
        display: block;
        padding: 14px;

        &:hover{
            border: 1px solid $black-primary;
            color: $black-primary;
        }
    }
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
    z-index: -5;
    visibility: hidden;

    &.active{
        opacity: .7;
        z-index: 9;
        visibility: visible;
    }
}

.badges-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.badge{
    flex: 0 0 20%;
}

.btn{
    color: $white-primary;
    text-decoration: none;
    background-color: $black-primary;
    padding: 15px 30px;
    border-radius: 20px;

}

img{
    width:100%;
}

@import 'responsive';