$white-primary: hsl(0, 0%, 98%);
$gray-primary: hsl(0, 0%, 41%);
$black-primary: hsl(0, 0%, 8%);

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    color: $gray-primary;
    font-weight: 500;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.5;
}

h1{
    color: $black-primary;
    font-size: 2rem;
}

.row {
    display:flex;
    justify-content:space-between;
    padding:15px;

    &.full-width{
        padding: 0;
    }

    &.main-content{
        text-align: center;

        h1, p, a{
            margin-bottom: 20px;
            display: block;
        }

        a.btn{
            display: inline-block;
        }

    }

    &.main-content{
        padding-top: 48px;
    }

    &.badges{
        padding-bottom: 48px;;
    }
}

.badges-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.badge{
    flex: 0 0 20%;
}

.btn{
    color: $white-primary;
    text-decoration: none;
    background-color: $black-primary;
    padding: 15px 30px;
    border-radius: 20px;

}

img{
    width:100%;
}